.search {
	margin: 40px 0;
	width: 100%;
}
.input {
	width: 100%;
	max-width: 480px;
	height: 31px;
	border: 2px solid #45ecad;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	padding: 8px 11px;
	box-sizing: border-box;
	color: #000;

	&:focus-visible {
		outline:0;
		background:#202329 ;
		color: #ff79c6;
	}
}
