.search {
	margin: 40px 0;
	width: 100%;
}
.input {
	width: 100%;
	max-width: 480px;
	height: 31px;
	border: 1px solid #e2e2e2;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #000000;
	padding: 8px 11px;
	box-sizing: border-box;
}
